<div class="template">
	<div class="template-content">
		<div class="template-image-container">
			<img src="smile-before.png">
		</div>
		<div class="template-title-container">
			<span class="template-title">{{title}}</span>
		</div>
	</div>
</div>