<section id="completed-madlibs" class="hidden">
	<div class="completed-madlib">
		<div class="madlib-content">
			<div class="madlib-image-container">
				<img src="smile-before.png">
			</div>
			<div class="madlib-title-container">
				<span class="madlib-title">{{title}}</span>
			</div>
		</div>
	</div>
</section>