<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mad Libs</title>
        <link rel="stylesheet" href="/style.css">
        <script src= "https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js"></script>
        <script src="/index.js" charset="utf-8" defer></script>
</head>
<body>
  {{{ body }}}
</body>
=======
﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mad Libs!</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" crossorigin="anonymous">
		<link rel="stylesheet" href="/style.css">
        <script src="/index.js" charset="utf-8" defer></script>
    </head>

    <body>
        <header>
            <div class="header-image-container">
                <img src="logo.png" alt="Mad Libs logo">
            </div>
        </header>

        {{{body}}}
    </body>
>>>>>>> 68c95a97ce8cf7ac96d57d98bfcd5c420128032f
</html>
