<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mad Libs</title>
        <link rel="stylesheet" href="/style.css">
        <script src= "https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js"></script>
        <script src="/index.js" charset="utf-8" defer></script>
</head>
<body>
  {{{ body }}}
</body>
</html>
