<main class="error-container">
	<div class="error-image">
		<img src="404.png">
	</div>
	<span class="error-404">404</span>
	<span class="error-text">The page you were looking for could not be found!</span>
	<span class="redirect-text">Did you mean <a href="/">our main page</a>?</span>
</main>