<main class="content">
	<nav class="navbar">
		<ul class="navlist">
			<li class="navitem tab-clicked" id="templates-tab"><span>Templates</span></li>
			<li class="navitem" id="completed-madlibs-tab"><span>Completed Mad Libs</span></li>
			<li class="navitem-right" id="about-us-tab"><span>About Us</span></li>
		</ul>
	</nav>

	<section id="templates">
		{{#each madlibTemplatesData}}
			{{> template}}
		{{/each}}
	</section>

	<section id="completed-madlibs" class="hidden">
		{{#each completedMadlibData}}
			{{> completedMadlib}}
		{{/each}}
	</section>

	<section id="about-us" class="hidden">
		<div class="about-us-content">
			<div class="about-us-text-container">
				<span class="about-us-text">This website was created by Kevin Moy, Trinity Polk, and Jarrod Saechao.</span>
			</div>
		</div>
	</section>

	<div id="backdrop" class="hidden"></div>

	<section id="template-posts" class="hidden">
		<div class="template-post">
			<div class="template-post-title-container">
				<span class="template-post-title"></span>
			</div>
			<div class="template-post-body">
				{{#each madlibTemplatesData}}
					{{> wordInput}}
				{{/each}}
			</div>
			<div class="template-post-footer">
				<button type="button" id="template-post-cancel">Cancel</button>
				<button type="button" id="template-post-submit">Submit</button>
			</div>
		</div>
	</section>

	<section id="view-madlib-container" class="hidden">
		<div class="view-madlib-window">
			<div class="view-madlib-title-container">
				<span class="view-madlib-title"></span>
			</div>
			<div class="view-madlib-text-container"></div>
			<div class="view-madlib-footer">
				<button type="button" id="view-madlib-ok">OK</button>
			</div>
		</div>
	</section>
</main>